<div class="booking-container container mt-5 w-50">
  <h2>
    <% if @book %>
      <%= @book.name %>
    <% end %>
    <% if @booking.book %>
      <%= @booking.book.name %>
    <% end %>
  </h2>

  <% if params[:flash] %>
    <b style="color:red"><%= params[:flash] %></b>
  <% end %>

  <div id="calendar-form" data-bookings="<%= @book.bookings.to_json %>">
      <%= simple_form_for [@book, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { id: "start-date"}  %>
        <%= f.input :end_date, as: :string, input_html: { id: "end-date" } %>
        <%= f.submit "Make a Reservation", class: "btn btn-flat" %>
      <% end %>
  </div>

</div>
