<div class="container container-form mt-5">
  <h4>Edit "<%= @book.name %>"</h4>
  <%=  simple_form_for(@book) do |f| %>
    <%= f.input :name %>
    <%= f.input :genre %>
    <%= f.input :illustrator %>
    <%= f.input :scenarist %>
    <%= f.input :date, discard_day: true, discard_month: true, label: "Publication", start_year: Date.today.year - 110, end_year: Date.today.year %>
    <%= f.input :description, as: :text %>
    <%= f.input :cover, as: :file %>
    <%= f.input :previews, as: :file, input_html: { multiple: true } %>
    <div class="form-actions">
      <%= f.button :submit, "Update book", class: "submit-btn" %>
    </div>
  <% end %>
</div>
