<button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal">
  Preview
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @book.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="preview-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @book.previews.each_with_index do |preview, i| %>
             <li data-target='#preview-carousel' data-slide-to='<%= i %>' class='<%= 'active' if i == 0 %>'></li>
            <% end %>
          </ol>


          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @book.previews.first.key, class: "d-block w-100" %>
            </div>
            <% @book.previews.drop(1).each do |preview| %>
               <div class="carousel-item">
                 <%= cl_image_tag preview.key, class: "d-block w-100"%>
               </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#preview-carousel" role="button" data-slide="prev">
<!--             <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class=""><i class="fas fa-angle-left"></i></span>
          </a>
          <a class="carousel-control-next" href="#preview-carousel" role="button" data-slide="next">
<!--             <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <span class=""><i class="fas fa-angle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
