<%= render 'shared/home-navbar' %>

<%= render 'shared/banner' %>

<div class="container">
  <div class="cards-index">
    <% if @books %>
      <% @books.each do |book| %>
        <%= link_to book_path(book) do %>
          <div class="card-category">
            <%= cl_image_tag book.cover.key, class: "cover"%>
            <div>
              <h3><%= book.name %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
