<div class="container">
  <div class="card-book">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card-book-left">
          <%= cl_image_tag @book.cover.key, class: "cover" %>
          <%= render 'shared/preview_books_show' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="card-book-right">
          <div class="card-book-infos">
            <h3>Title: <%= @book.name %></h3>
            <br>
            <p><b>Scenarist: </b><%= @book.scenarist %></p>
            <p><b>Illustrator: </b><%= @book.illustrator %></p>
            <p><b>Description: </b><%= @book.description %></p>
          </div>
          <hr style="width: 100%">
          <div class="card-book-bookings">
            <h2>Last bookings</h2>
              <ul>
                <% @bookings.last(3).each do |booking| %>
                  <li><b>From: </b><%= booking.start_date %> <b>to: </b><%= booking.end_date %></li>
                <% end %>
              </ul>
          </div>
          <%= link_to "Book this comic", new_book_booking_path(@book), class: "book-btn btn my-2" %><br>
        </div>
      </div>
    </div>
  </div>
    <div class= "btm-btns">
    <%= link_to "Edit", edit_book_path(@book), :class => "edit-admin-btn btn my-2" %><br>

    <%= link_to "Delete",
                book_path(@book),
                method: :delete,
                data: { confirm: "Are you sure?" },
                :class => "delete-admin-btn btn mb-2" %><br>
    </div>
</div>



