<div class="container">
  <div class="card-book">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card-book-left">
          <%= cl_image_tag @book.cover.key, class: "cover" %>
          <%= render 'shared/preview_books_show' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="card-book-right">
          <div class="card-book-infos">
            <h3>Title: <%= @book.name %></h3>
            <br>
            <p><b>Scenarist: </b><%= @book.scenarist %></p>
            <p><b>Illustrator: </b><%= @book.illustrator %></p>
            <p><b>Description: </b> <br> <%= @book.description %></p>
          </div>
          <hr style="width: 100%">
          <div class="card-book-bookings">
            <h2>Last bookings</h2>
              <ul>
                <% @bookings.last(3).each do |booking| %>
                  <li><b>From: </b><%= booking.start_date %> <b>to: </b><%= booking.end_date %></li>
                <% end %>
              </ul>
            <% if @book.user == current_user %>
                <!-- <div class= "btm-btns"> -->
                <%= link_to edit_book_path(@book), class: "btn btn-flat" do %>
                  <i class="fas fa-pencil-alt"></i> Edit
                <% end %><br>

                <%= link_to book_path(@book), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-trash"></i>
                <% end %><br>
                <!-- </div> -->
              <% else %>
                <!-- <div> -->
                  <%= link_to "Book this comic", new_book_booking_path(@book), class: "btn btn-flat", id: "booking_btn"%><br>
                <!-- </div> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card-book book-map">
    <h4>Where to find this comic book</h4>
    <div id="map"
    style="width:100%; height: 300px;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>



