<div class="container">
  <div class="card-book">
    <div class="card-book-left">
       <%= cl_image_tag @book.cover.key, class: "cover" %>
      <%= render 'shared/preview_books_show' %>
    </div>
    <div class="card-book-right">
      <div class="card-book-infos">
        <h2>Title: <%= @book.name %></h2><br><br>
        <p><b>Scenarist: </b><%= @book.scenarist %></p>
        <p><b>Illustrator: </b><%= @book.illustrator %></p>
        <p><b>Description: </b><%= @book.description %></p>
      </div>
      <div>
        <h2 style= "font-size: 24px">Bookings</h3>
          <ul>
            <% @bookings.each do |booking| %>
              <li><b>From: </b><%= booking.start_date %>, <b>to: </b><%= booking.end_date %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>

  <%= link_to "Book #{@book.name}", new_book_booking_path(@book), :class => "btn btn-primary my-2" %><br>
  <%= link_to "Edit #{@book.name}", edit_book_path(@book), :class => "btn btn-info my-2" %><br>

  <%= link_to "Delete #{@book.name}",
              book_path(@book),
              method: :delete,
              data: { confirm: "Are you sure?" },
              :class => "btn btn-danger mb-2" %><br>
</div>



