<!DOCTYPE html>
<html>
  <head>
    <title>Bdtroc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <% if params[:action] != 'home'  %>
      <%= render 'shared/navbar'%>
    <% end %>
    <% if params[:controller] == "bookings" && params[:action] == "create" %>
      <%= render 'shared/flashes' %>
    <% end %>

    <% if params[:controller] == "devise/sessions" && params[:path] == "new-booking" %>
      <%= render 'shared/flashes' %>
    <% end %>


    <%= yield %>
    <% if params[:action] == "home" || params[:action] == "show" %>
      <%= render 'shared/add_book_btn' %>
    <% end %>

  </body>
</html>
